<h1>Events</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card border text-center px-3">

      <div class="card-header">
      <div class="wrap_card">
        <div class="w-100">
          <%= render 'events/invitees' %>
          <%= render 'events/accepted' %>
        </div>
        <div>
            <h1> <%= @event.name %></h1>
            <hr>
        </div>

      </div>
      <div class="card-body">

        <p class="card-text"><%= @event.description %> </p>
        <%= render 'events/invite' %>

        <h5 class="text-right mr-2"> by <%= @event.creator.name %> </h5>
        <hr>
      </div>
      <div class="card-footer text-muted">
      <p class='text-center'> date <%= @event.date %></p>
      </div>
    </div>
  </div>
</div>
